@import url('https://fonts.googleapis.com/css2?family=Poopins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(nature2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    width: 50px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
    border: 2px solid #000; /* Add a border to the image */
    border-radius: 10px;
}
header .navigation a{
    color: #020848;
    background: #a7ffe7;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 15px;
    border-radius: 20px;
    transition: 0.5s;
    transition-property: background;  
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    color:#fff;
}

section{
    width: 1000px;
    margin:60px 100px;
}
section h2{
    color: #0c0d0d;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 60px;
    margin-bottom: 30px;
}
section h2 span{
    color:rgba(6, 16, 9, 0.626);
    font-size: 50px;
    font-weight: 500;
}
section p{
    font-size: 20px;
    font-weight: 500;
    margin: 40px;
    color:black;
}
section .info{
    color:rgba(14, 17, 17, 0.84);
    background: #0c0c0c;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 6px;
}

section .info:hover{
    background: rgb(227, 232, 226);

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

footer a{
    position: relative;
    color:#fff;
    font-size: 30px;
}

footer a:not(:last-child) {
    margin-right: 60px;
}

footer a:hover {
    transform: scale(1.5);
}